# you dont usually need to set this, but you may need them!

Sunnysideup\WebpackRequirementsBackend\Control\WebpackPageControllerExtension:
  webpack_enabled_themes: []
  is_webpack_server: false
  webpack_socket_server: localhost
  webpack_server: ''
  webpack_port: 3000
  webpack_distribution_folder_extension: dist

Sunnysideup\WebpackRequirementsBackend\View\RequirementsBackendForWebpack:
  webpack_variables_file_location: ''
  files_to_ignore: []
  domains_to_ignore: []
  files_starts_with_ignore: []
  working_theme_folder_extension: 'app'
  copy_css_to_folder: "raw_requirements/css"
  copy_js_to_folder: "raw_requirements/js"
  urls_to_ignore = []
